<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4502776480-15cmt8942k78o4ov2jahd3sgnv58k6j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4502776480-15cmt8942k78o4ov2jahd3sgnv58k6j2</string>
	<key>API_KEY</key>
	<string>AIzaSyDRotAed0_zvY8rHzGA7oOJMZR9HQHHGmA</string>
	<key>GCM_SENDER_ID</key>
	<string>4502776480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>catalog-569c1</string>
	<key>STORAGE_BUCKET</key>
	<string>catalog-569c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4502776480:ios:93a89c114585f02ea077c5</string>
	<key>DATABASE_URL</key>
	<string>https://catalog-569c1-default-rtdb.firebaseio.com</string>
</dict>
</plist>